<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudentList</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>學生資料表</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Major</th>
        <th>Scholarship merit</th>
        <th>Scholarship other</th>
        <th colspan="2">功能</th>
      </tr>

      <% foundStudent.forEach((element)=>{ %>
      <tr>
        <td><%= element._id%></td>
        <td><%= element.name%></td>
        <td><%= element.age%></td>
        <td><%= element.major%></td>
        <td><%= element.scholarship.merit%></td>
        <td><%= element.scholarship.other%></td>
        <td><a href="/student/<%= element._id%>/edit">編輯</a></td>
        <td><a href="/student/delete/<%=element._id%>">刪除</a></td>
        <%})%>
      </tr>
    </table>
    <form action="student/search" method="get">
      <div id="query">
        <label for="query">搜尋學生：</label>
        <input type="text" id="query" name="student" />
        <button>查詢</button>
      </div>
    </form>
    <a href="student/createData">新增學生資料</a>
  </body>
</html>
