<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Success</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>成功更新<%= data.name %>的頁面</h1>
    <table>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Major</th>
        <th>Scholarship Merit</th>
        <th>Scholarship Other</th>
      </tr>
      <tr>
        <td><%=data._id %></td>
        <td><%=data.name %></td>
        <td><%=data.age %></td>
        <td><%=data.major %></td>
        <td><%=data.scholarship.merit %></td>
        <td><%=data.scholarship.other %></td>
      </tr>
    </table>
    <a href="/student">返回學生資料表</a>
  </body>
</html>
